@media(min-width:1400px) and (max-width:1900px){
    .carousel-item .card
     {
        width: 320px;
    }

    .carousel-item {
        flex: 0 0 auto;
        width: 25%;
        scroll-snap-align: start;
    }
.card {
    width: 350px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 
}
}
@media(min-width:1500px) and (max-width:1900px){
    .home-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}
@media(min-width:668px) and (max-width:1200px) {
    table {
        font-size: 1rem;
    }
 
 

    .location {
        display: block;
        grid-column: 1fr;
    }

    .contact-info2 {
        margin-top: 20px;
    }


 

    .home-box {
        margin: 50px;
    }

    

    .btn {
        top: 80%;
        padding: 10px 30px;
    }

    .weather-text {
        font-size: 2rem;
        margin-top: 50px;
        grid-column: span 2;
    }

    
    .cards-container2 .card-ofert3 {
        grid-column: span 2;
        grid-row: 2;
    }
    #rentals, #rentalTableContainer {
        display: grid;
        grid-column: 1fr 1fr;
    }
    #rentals .card {
        width: 300px;
        font-size: 1.5rem;   
        
    }
    

}
